#logoContainer
{
  margin-top: 20px;
}

.well
{
  padding-bottom: 0px;
}

#mode
{
  margin-top: 22px;
  font-size: 120%;
}

#siren_led
{
  font-size: 35px;
  margin-top: 18px;
}

#play
{
  margin-top: 8px;
}

.siren_volume
{
  padding-top: 8px;
}