<!doctype html>
<html lang="en" ng-app="sirenApp">
<head>
	<meta charset="utf-8">
	<title>Siren</title>
  
  <link rel="icon" type="image/png" href="/favicon.png" />

	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cyborg/bootstrap.min.css">
  <link rel="stylesheet" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body ng-controller="MainController">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div id="sirenContainer" class="well">

          <!-- Siren -->
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Siren</h3>
            </div>
            <div class="panel-body">
              <div class="row">
              
                <!-- Mode -->
                <div class="col-xs-12 col-sm-3 text-center">
                  <div class="col-xs-12">
                    <span data-toggle="tooltip" data-placement="top" title="Mode">
                      <div class="col-xs-12">
                        <select name="mode" id="mode" ng-model="mode" class="form-group" selected='sine'>
                          <option value="sine" select="selected">Sine</option>
                          <option value="square">Square</option>
                          <option value="triangle">Triangle</option>
                          <option value="sawtooth">Sawtooth</option>
                        </select>
                      </div>
                    </span>
                  </div>
                </div>
                
                <!-- Speed -->
                <div class="col-xs-12 col-sm-3 text-center" data-toggle="tooltip" data-placement="top" title="Speed" tooltip>
                  <knob id="siren_speed" knob-data="siren_speed.value" knob-options="siren_speed.options"></knob>
                </div>
                
                <!-- Tone -->
                <div class="col-xs-12 col-sm-3 text-center" data-toggle="tooltip" data-placement="top" title="Tone" tooltip>
                  <knob id="siren_tone" knob-data="siren_tone.value" knob-options="siren_tone.options"></knob>
                </div>
                
                <!-- LED -->
                <div class="col-xs-12 col-sm-3 text-center">
                  <div class="col-xs-12">
                    <span id="siren_led" class="glyphicon glyphicon-record ng-class:{ 'text-danger': sirenPlaying, 'text-default': !sirenPlaying };" aria-hidden="true"></span>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          
          <!-- Delay -->
          <div class="panel ng-class:{ 'panel-warning': delay, 'panel-default': !delay };">
            <div class="panel-heading">
              <h3 class="panel-title">Delay</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <!-- Time -->
                <div class="col-xs-12 col-sm-3 text-center" data-toggle="tooltip" data-placement="top" title="Time" tooltip>
                  <knob id="delay_time" knob-data="delay_time.value" knob-options="delay_time.options"></knob>
                </div>
                
                <!-- Feedback -->
                <div class="col-xs-12 col-sm-3 text-center" data-toggle="tooltip" data-placement="top" title="Feedback" tooltip>
                  <knob id="delay_feedback" knob-data="delay_feedback.value" knob-options="delay_feedback.options"></knob>
                </div>
                
                <!-- Mode -->
                <div class="col-xs-12 col-sm-3 text-center" data-toggle="tooltip" data-placement="top" title="Mix" tooltip>
                  <knob id="delay_mix" knob-data="delay_mix.value" knob-options="delay_mix.options"></knob>
                </div>
                
                <!-- On/Off -->
                <div class="col-xs-12 col-sm-3 text-center">
                  <toggle ng-model="delayModel" ng-change="enableDelay()" onstyle="btn-success" offstyle="btn-default"></toggle>
                </div>
                
              </div>
            </div>
          </div>

				</div>
        
        <div id="playContainer" class="well">
          <!-- Play -->
          <button type="button" id="play" ng-mousedown="play()" ng-mouseup="stop()" class="btn btn-danger center-block">Play</button>
        </div>
			</div>
		</div>
	</div>
  
  <!-- JQuery --> 
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <!-- AngularJS -->    
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script> 
  <!-- App -->
  <script src="/app/library/angular-bootstrap-toggle.min.js"></script>
  <script src="/app/library/tuna-min.js"></script>
  <script src="/app/library/jquery.knob.js"></script>
  <script src="/app/library/angular-knob.js"></script>
  <script src="/app/app.js"></script>
	
</body>
</html>